h2, h3{
  text-align: center;
  padding-top: 3rem;
}
h3, h2{
  font-size: clamp(25px, 5.04vw, 30px);
}
h2,h3,p{
  margin: 0 auto;
  width: clamp(100px, 80%, 700px);
}
main img {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: auto;
  display: block;
  width: clamp(100px, 60%, 400px);
  margin: 0 auto;
}
.img2{
  width: clamp(50px, 60%, 200px);
}
/* Kids */
.kids-section,
.teachers-section,
.researchers-section {
  margin-bottom: 6rem;
}
.kids-section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.img5,
.teachers-section img,
.researchers-section img{
  width: clamp(100px, 60%, 350px);
  height: auto;
  margin: 2rem auto;
}
.kids-club {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
}
.kids-club h3{
  padding-bottom: 2rem;
}
.text-top p{
  padding-bottom: 2rem;
}
/* Teachers and Researchers */
.teachers-section p, 
.teachers-section h2, 
.researchers-section h2,
.researchers-section p{
  padding-bottom: 2rem;
}
.teachers-section,
.researchers-section{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media(min-width: 800px){
  .kids-club{
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    place-self: center;
  }
  .kids-club h3,
  .teachers-section h2,
  .researchers-section h2{
    text-align: start;
  }
  .text-top{
    grid-column: 1;
    grid-row: 1;
  }
  .text-bottom {
    grid-column: 1;
    grid-row: 2;
  }
  .img5{
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .teachers-section,
  .researchers-section{
    grid-template-columns: 2fr 1fr;
    height: 612px;
    overflow: hidden;
  }
  .teachers-section img,
  .researchers-section img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 458.14px;
    aspect-ratio: 612 / 444.24;
    margin: 0;
  }
}
@media(min-width: 1300px){
  .teachers-section,
  .researchers-section{
    grid-template-columns: 2fr auto;
  }
  .kids-club p,
  .kids-club h3{
    margin: 0 0 0 140px;
  }
}