h2{
  padding-bottom: 2rem;
}
.container {
  margin-top: 1rem;
  margin-bottom: 6rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0;
}
.container p{
  width: clamp(100px, 80%, 1000px);
}