* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(4px);
}

/* Hamburger menu */
.hamburger-toggle {
  opacity: 0;
}

.hamburger-menu {
  color: white;
  cursor: pointer;
  padding: 10px;
}

.navigation-menu {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 600px;

  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(4px);
}

.hamburger-toggle:checked ~ .navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}

.navigation-menu a {
  color: white;
}

@media (min-width: 800px){
.hamburger-menu{
  display: none;
}

.navigation-menu{
  display: flex;
  position: static;
  height: auto;
  background: none;
  backdrop-filter: none;
}

.navigation-menu ul{
  flex-direction: row;
}
}